<nav style='margin:20px;' >
  <div class="container-fluid">
    <div class="navbar-header">
      <button id='btn1' type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span style='background-color:black' class="icon-bar"></span>
        <span style='background-color:black' class="icon-bar"></span>
        <span style='background-color:black' class="icon-bar"></span>                        
      </button>
	  
      <a class="navbar-brand" href="localhost:3000">
	 <img id='mylogo' src="../images/logo.png" alt="bloggy" height="50">
	  </a>
    </div>
	
    <div style='margin-left:40px' class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">All Blogs</a></li>
        <li><a href="/dashboard/{{loggedUser.username}}">My Blogs</a></li>
        <li><a id='donew' href="#">New Blog</a></li>
      </ul>
      <form  id='searchform' class="navbar-form navbar-right" role="search" action="/search">
        <div class="form-group input-group">
          <input id='mysearchtext' type="text" name="mysearchtext" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button id='mysearch' class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;User:{{loggedUser.username}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>&nbsp;Log out</a></li>
      </ul
    </div>
  </div>
</nav>

